.eventInvitationCard {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 1rem;
  align-items: center;
  width: 100%;
}

.eventIcon {
  grid-column: 1/2;
  grid-row: 1/4;
}

.eventName {
  font-size: 1.1rem;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.name,
.email {
  font-size: 1rem;
  color: var(--grey);
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.lastRowContainer {
  margin-top: 0.5rem;
  grid-column: span 2;
  display: flex;
  gap: 0.3rem;
}

.acceptIcon,
.rejectIcon {
  height: 26px;
  width: 26px;
  cursor: pointer;
  transition-property: fill, stroke;
  transition-duration: 0.25s;
}

.acceptIcon:hover {
  stroke: var(--secondary);
}

.rejectIcon:hover {
  stroke: var(--dark-red);
}

@media (max-width: 1000px) {
  .eventIcon {
    height: 28px;
    width: 28px;
  }
}

@media (max-width: 700px) {
  .eventIcon {
    height: 24px;
    width: 24px;
  }
}
