.userContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 25rem;
  max-height: 30rem;
  overflow: auto;
}

.text {
  text-align: center;
}

.icon {
  cursor: pointer;
  transition-property: fill, stroke;
  transition-duration: 0.25s;
}

.icon:hover {
  stroke: var(--secondary);
}
